//Color del navbar
$navbar-bg-color: #2C3E50;

//Color del navbar item
$navbarItem-hover-bgcolor: #1ABC9C;
$navbarItem-hover-textColor: white;


//Color del footer
$footer-bg-color: #222;
$footer-text-color: white;