.container {
    .card {
        align-items: center;

        img {
            width: 70%;
        }

        .card-text {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}