/*Usando display flex en el body para que el footer se mantenga abajo*/
body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    /*Centrar el contenido*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 10%;
}

/*Estilos generales*/

.navbar {
    padding: 10px 20px;
}

/*SECCIÓN HERO*/
.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    gap: 40px;
}

.hero-text {
    text-align: left;
    max-width: 600px;
}

.intro {
    font-size: 18px;
    color: #555;
    margin: 0px;
}

.name {
    font-size: 42px;
    font-weight: bold;
    margin: 5px 0;
}

.description {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

/* Imagen Perfil */
.hero-image img {
    width: 100%;
    min-width: 150px;
    max-width: 350px;
    display: block;
    margin: 0 auto;
    height: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Botones de contacto */
.buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.buttons a {
    text-decoration: none;
    padding: 12px 18px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

.buttons a:hover {
    opacity: 0.8;
    scale: 1.05;
}

/* LinkedIn */
.buttons a:nth-child(1) {
    background-color: #0077b5;
}

/* GitHub */
.buttons a:nth-child(2) {
    background-color: #333;
}

/* Correo */
.buttons a:nth-child(3) {
    background-color: #25d366;
}

/*Boton descargar CV*/

.download-btn {
    text-align: center;
    margin-top: 30px;
}

.download-btn a {
    display: inline-block;
    text-decoration: none;
    background: #007bff;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}

.download-btn a:hover {
    opacity: 0.8;
    background: #0056b3;
    scale: 1.02;
}

/*Footer*/
footer {
    background: #222;
    color: white;
    text-align: center;
    line-height: 0.8;
    padding: 20px 0;
}

/*Media Queries*/
@media (max-width: 992px) {
    /* Estructura en una sola columna */
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        text-align: center;
    }

    .hero-image img {
        max-width: 300px;
    }

    /* Botones en vertical */
    .buttons {
        justify-content: center;
        flex-wrap: wrap;
    }

    .buttons a {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .buttons a {
        width: 80%;
    }
    
    .hero-text {
        padding: 0 20px;
    }
}
