/*Usando display flex en el body para que el footer se mantenga abajo*/
body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/*Estilos generales*/
.navbar {
    padding: 10px 20px;
}

/* Carousel */
.carousel-item img {
    width: 220px;
    height: 220px;
    object-fit: contain;
}

.carousel button{
    color: white;
    border-radius: 5px;
    width: 60px;
    height: 70px;
    margin: auto;
}

/*Footer*/
footer {
    background: #222;
    color: white;
    text-align: center;
    line-height: 0.8;
    padding: 20px 0;
}


@media (max-width: 768px) {
    .carousel-item img {
        width: 100px;
        height: 100px;
    }

    .carousel button{
        width: 40px;
        height: 50px;
    }
}